#body{
    margin: 0
    
}

.nav-flex-container{
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
        font-size: 14px;
        font-family: arial,sans-serif;
        color: #202124;
   
    
    
    position: relative;
    width: 100%;
    
    left: 0px;
    top: 0px;
}
.nav-flex-container a {
    color:black;
    text-decoration: none;
    padding-left: 10px;
    
   
}
.nav-flex-container a:hover{
    text-decoration: underline;
}
.nav-flex-child-2 {
/*Fill in with rules for the right side of the navbar*/
    margin-right: 20px;
    
}


.About{
    text-align: left;
    
    
    
}
.Store{
    
    text-align: left;
}
.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;

    
}
.search_bar{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    
}
.button{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;

}
.button_srch{
    margin-right: 20px;
}